/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "common";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

html {
    cursor: default;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    position: relative;
}

body {
    height: 100%;
}