.contract-detail {
    background: blue;
    height: 100%;
    width: 50%;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 10000;
    opacity: 1;
    box-shadow: 0 0 20px rgba(0,0,0,0.75);

    &.full-screen {
        width: 80%;
    }

    .header {
        background: #b3102e;
        height: 56px;
        padding: 5px 0 5px 15px;
        font-size: 30px;
        font-weight: 300;
        line-height: 46px;
        color: white;
        position: relative;
        display: flex;
        flex-direction: row;

        small {
            font-size: 70%;
            font-weight: 300;
        }

        .title {
            flex: 1 1 1px;
        }

        .menu-button {
            height: 56px;
            margin: -5px 0;
            flex: 0 1 40px;
            max-width: 40px;
            font-size: 20px;
            line-height: 56px;
            text-align: center;
        }
    }

    .body-wrapper {
        margin-top: -56px;
        padding-top: 56px;
        height: 100%;

        .body {
            background: #eee;
            height: 100%;
            width: 100%;
            overflow-y: auto;
            padding: 10px 15px;
        }
    }
}