
<!--component html goes here -->
<div class="contract-detail" *ngIf="contract" [ngClass]="{'full-screen': fullScreen}">
    
    <div class="header">
        <div class="title">Vertrag <strong>{{contract?.contractNr}}</strong> <small>mit Christian Schaiter</small></div>
        <div class="menu-button clickable" (click)="toggleFullScreen()">
            <fa [name]="expandIcon"></fa>
        </div>
        <div class="menu-button clickable" (click)="close()">
            <fa [name]="'close'"></fa>
        </div>
    </div>
    <div class="body-wrapper">
        <div class="body">
            <contract-detail-section [title]="'Details'" [opened]="true" [stateIcon]="'check-circle'">
                <form role="form">
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Vertrag Detais</label>
                        <div class="col-10">
                            <input class="form-control" [(ngModel)]="contract.spContractDescription" name="spContractDescription">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Datum</label>
                        <div class="col-10">
                            <input class="form-control" type="date" [(ngModel)]="contract.creationDate" name="creationDate">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Offert Text</label>
                        <div class="col-10">
                            <input class="form-control" [(ngModel)]="contract.offertTextIntern" name="offertTextIntern">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Organisation</label>
                        <div class="col-10">
                            <input class="form-control" [(ngModel)]="contract.offertOrganisation" name="Organisation">
                        </div>
                    </div>
                </form>
            </contract-detail-section>
            <contract-detail-section [title]="getTransportTitle(tc)"  [wagonsText]="tc.railwayBills.length" [opened]="false" [stateIcon]="'check-circle'" *ngFor="let tc of contract.transportClasses">
                <railway-bills [transportClass]="tc"></railway-bills>
            </contract-detail-section>
        </div>
    </div>