<!--component html goes here -->
    <!--<div>{{transport.from?.name}} - {{transport.via?.name}} - {{transport.to?.name}}</div>-->
    <div class="railway-bill-container">
        <div class="railway-bill" *ngFor="let rb of transportClass.railwayBills">
            <div class="title">{{rb.gvId}} - {{rb.wagon?.cargo?.id}}</div>
            <route-graph [railwayBill]="rb"></route-graph>
            <div class="">{{rb.reservationNumber}}</div>
            <div class="wagon">
                <div class="label">{{rb.wagon.wagonNumber}}</div>    
            </div>
            <div class="cargo">
                CARGO
            </div>
        </div>
    </div>
    <contract-map [transportClass]="transportClass"></contract-map>