<div class="pos-f-t fixed-top header">
    <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" (click)="toggleSidebar()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="javascript:void(0)">ÖBB | mc2Express</a>
        <div class="collapse navbar-collapse">       
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">                 
               
                <li class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link">
                        <i class="fa fa-user"></i> Cargo Operator
                    </a>                  
                </li>
            </ul>
        </div>
    </nav>
</div>
