// component css goes here
.location {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
    position: relative;

    .timeline-top {
        position: absolute;
        width: 40px;
        height: 20px;
        top: -20px;
        border-right: 2px solid #999;
    }

    .timeline-bottom {
        position: absolute;
        width: 40px;
        height: 20px;
        bottom: -20px;
        border-right: 2px solid #999;
    }

    .location-icon {
        background: #b3102e;
        flex: 0 1 80px;
        border-radius: 50%;

        * {
            padding: 0 23px;
            font-size: 40px;
            line-height: 77px;
            color: white;
        }
    }

    .location-description {
        flex: 1 1 1px;
        margin-left: 20px; 
    }
}